<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PumpAndDumpHelperClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <PumpAndDumpHelperClient.Properties.Settings>
            <setting name="APIKey" serializeAs="String">
                <value>6412b99c9ba946628fc14ad418f594d7</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value>396a530e72f24be786bea7fae4955433</value>
            </setting>
        </PumpAndDumpHelperClient.Properties.Settings>
    </applicationSettings>
</configuration>